
body {
    --blue : rgb(0, 119, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(45deg,rgb(126, 245, 215),rgb(128, 235, 235),rgb(8, 171, 221));

    .container {
        background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.5),rgba(255,255,255,0.9));
        box-shadow: 0 0 6px 2px rgb(255, 255, 255);
        border-radius: 1rem;
        padding: 2rem;
        width: min(80%,1025px);

        display: grid;
        justify-items: center;
        align-items: center;
        gap: 1rem;

        line-height: 1;
        text-align: center;

        .name {
            font-size: 1.3rem;
            font-weight: 600;
            letter-spacing: 4px;
            font-variant: small-caps;
            text-transform: capitalize;
        }
        .job {
            font-size: 0.8rem;
            font-weight: 900;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: var(--blue);
        }
        .text {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1rem;
            letter-spacing: 1px;
            line-height: 1.1;
        }

        .arrow-btns {
            button {
                box-shadow: unset;
                background-color: unset;
                color: var(--blue);
                font-size: 1.4rem;
                font-weight: 900;

                &:hover {
                    filter: drop-shadow(0 0 1px var(--blue));                    
                    transform: scale(1.1);
                }
                &:active {
                    transform: scale(0.9);
                }
            }
        }

        .btn.suprise{
            box-shadow: 0 0 4px var(--blue);
            color: var(--blue);

            &:hover {
                filter: drop-shadow(0 0 1px var(--blue));                    
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.9);
                box-shadow: 0 0 1px 1px var(--blue),
                0 0 2px 2px var(--blue);
            }
        }
    }
}


// TODO : Utility Classes //

body {
    
    h1 {
        font-variant: small-caps;
        position: relative;
        color: $heading-clr;

        &::before {
            position: absolute;
            content: "";
            width: 50%;
            height: 3px;
            background-color: $headin-underlineClr;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .img-container {
        width: min(70%,300px);
        position: relative;

         &::before{
                position: absolute;
                content: "";
                width: 95%;
                aspect-ratio: 1;
                background-color: $imgContainer-bgClr;
                left: 7%;
                bottom: 5%;
                border-radius: 50%;
            }

        img {
            border-radius: 50%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: center center;
            position: relative;
            
            &:hover {
                transform: scale(2);
                box-shadow: 0 0 1px 1px $imgContainer-bgClr,
                0 0 1px 1px $imgContainer-bgClr,
                0 0 2px 2px $imgContainer-bgClr,
                0 0 2px 2px $imgContainer-bgClr,
                0 0 3px 3px rgb(255, 255, 255),
                0 0 3px 3px rgb(255, 255, 255),
                0 0 4px 4px rgb(255, 255, 255),
                0 0 4px 4px rgb(255, 255, 255);
            }
        }
    }

    .btn {
        border: none;
        outline: none;
        background-color: $btn-bgClr;
        box-shadow: 0 0 4px $btn-shadowClr;
        border-radius: 0.6rem;
        padding: 0.4rem 0.8rem;
        cursor: pointer;
        font-weight: 600;
    
        &:active {
            transform: scale(0.9);
            box-shadow: 0 0 1px 1px $btn-shadowClr,
            0 0 2px 2px $btn-shadowClr,
            0 0 3px 3px $btn-shadowClr,
            0 0 4px 4px $btn-shadowClr;
        }

     }
    
    .clicked-btn {
        transform: scale(0.8);
        box-shadow: 0 0 4px 4px white;
        background-color: black;
        color:white
    }
}